.audit-log-wrap {
	overflow-x: auto;

	thead {
		position: sticky;
		top: 0;
		z-index: 1;

		background-color: var(--color-content-bg);
	}

	td.date {
		min-width: 14ch;
	}

	td.target {
		min-width: 14ch;
	}

	td.info {
		white-space: pre;
	}

	.added {
		background-color: var(--color-diff-added);
	}
	.removed {
		background-color: var(--color-diff-removed);
	}
}