html {
	overflow: hidden; /* move scroll to body */
}

body {
	background-color: #80786e; /* @cleanup */
	background-image: url(https://account.vintagestory.at/public/images/background.jpg);
	background-attachment: fixed;
	background-size: cover;

	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: var(--color-text);
	font-size: 16px;
	line-height: 1.2;
	text-rendering: optimizeSpeed;

	max-width: 100vw;
	max-height: 100vh;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
}

blockquote {
	border: solid 1px #CCC; /* @cleanup */
	padding-left: .5em;
	border-left-width: .5em;
	background: rgba(255,255,255,0.25); /* @cleanup */
	font-style: italic;
}

p:not(:last-child) {
	margin-bottom: .5em;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
	margin-top: 1.5em;
}

a { color: var(--color-link); }
a:hover { color: var(--color-link-active); }

/*a[href^="http"]::before */ /* @cleanup needs font or svg image to sue currentcolor */
a.external::before {
	content: '';
	display: inline-block;
	height: 1.1em;
	width: 1.1em;
	vertical-align: sub;
	margin-right: .5ch;

	background-size: contain;
	background-repeat: round;
	background-image: url(/web/img/externallink.png);
}

a[href*="github.com"].external::before  { background-image: url(/web/img/logo-github.svg); }
a[href*="gitlab.com"].external::before  { background-image: url(/web/img/logo-gitlab.svg); }
a[href*="patreon.com"].external::before { background-image: url(/web/img/logo-patreon-b.png); }
a[href*="ko-fi.com"].external::before   { background-image: url(/web/img/logo-kofi-c.svg); }
a[href*="discord.gg"].external::before,
a[href*="discord.com"].external::before { background-image: url(/web/img/logo-discord.svg); }

ul.no-mark, ol.no-mark {
	list-style: none;
}

li {
	margin-left: 1em;
}

ul.no-mark>li, ol.no-mark>li {
	margin-left: unset;
}

small {
	display: inline-block;
	font-size: .8em;
}

pre {
	overflow-x: auto;
}

code {
	word-wrap: break-word;
	font-family: 'Courier New', Courier, monospace;
}


img {
	max-width: 100%;
	height: auto;

	/* broken images */ /* chrome */
	font-style: italic;
	text-align: center;
}
img::before {
	/* broken images */ /* ff */
	display: block;
	height: 100%;
	inset: 0;
	text-align: center;
	border: 1px red dashed;
	white-space: pre-wrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* generic classes */
.whitetext { color: var(--color-text-inv); }

.flex-list {
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
}

.flex-spacer {
	flex-grow: 1;
	min-width: 0 !important;
	visibility: hidden;
}

.flex-fill {
	flex-basis: 100%;
}

.template { display: none !important; } /* @cleanup replace with actual templates*/

@media (max-width: 450px) {
	.not-mobile { display: none; }
}

/* generic labeling */

[data-label] {
	display: inline-block;
	position: relative;
	margin-top: 1.5rem;
}
[data-label]::before {
	content: attr(data-label);
	position: absolute;
	left: 0;
	top: -1.25rem;
	white-space: nowrap;
}

/* generic ribbon */

.ribbon-tr {
	--d: 1.5em;

	position: absolute;
	top: 0;
	left: 100%;

	transform-origin: top center;
	transform: translateX(-50%) rotate(45deg) translateY(var(--d));

	width: 150%; /*close enough to 100% * sqrt(2)*/
	text-align: center;
	padding: .25em 0;
}

.ribbon-tr.d2 {
	--d: 3.5em;
}

/* generic highlight */

@keyframes highlight {
	30% { background-color: var(--color-highlight); }
}

.highlight {
	animation: 2s alternate ease-out highlight;
}
