.comment {
	width: unset;
	word-break: break-word;

	>.title {
		padding: .25em;

		a[href="#h"]::before {
			content: 'hide';

			@at-root .deleted#{&} {
				content: 'unhide';
			}
		}
	}

	>.reference {
		display: block;
		font-size: small;
		color: var(--color-text-weak);
		padding: .125em .25em;
		text-wrap: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-decoration: none;

		&::before {
			content: '\2B10';
		}

		&:hover>span {
			text-decoration: underline;
		}
	}

	>.body {
		padding: 4px;
		background-color: rgba(255,255,255,0.4);
	}

	&:target { // ??
		background-color: #DDE5CB;
		border-color: #abb29c;
	}

	&.editbox {
		position: relative; /* fix for escaping elements covering other parts of the site */
		overflow: hidden; // required for ribbons, but breaks sticky headers. should we remove it here? 
		padding: 0px;
		background: rgba(219, 208, 182, 0.7);
	}

	&.deleted {
		background: rgb(228, 131, 131);

		.ribbon-tr {
			background-color: rgb(184, 37, 37);
			color: var(--color-text-inv);
		}
	}

	@at-root .comments.threaded & {
		.reference {
			display: none;
		}

		// @for $i from 1 through 10 { // This is hte reason for :MaxResponseDepth. Also at some point it just becomes unusable.
		// 	&.rsp-#{$i} { margin-left: calc($i * 1rem); }
		// }
	}
}

.comments {
	&, & .convo {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: .5em;
		align-items: stretch;
	}

	.convo {
		border: solid var(--color-border);
		border-radius: 2px 0 0 2px;
		border-width: 0 0 1px 1px;
	
		>* {
			margin-left: 1rem;
	
			// // merge borders
			&:first-child { margin-left: -1px; }
			&:last-child { margin-bottom: -1px; }
		}
	}
}

.comment .body img, table.latestcomments img {
	position: static; /* fix for images copy pasted with hiding classes */
	opacity: initial; /* fix for images copy pasted with hiding classes */
}