dialog {
	margin: auto;
	background-color: var(--color-content-bg);
	color: var(--color-text);
	border: solid 2px var(--color-border-active);

	max-width: 40em;

	&:not([open]) {
		display: none;
	}

	h1 {
		text-align: center;
		border-bottom: solid 1px var(--color-border);
		margin: .5em 1em;
		padding-bottom: .5em;

		position: sticky;
		top: 0;
		background-color: var(--color-content-bg);
	}

	&.with-buttons-bottom,
	&>:only-child.with-buttons-bottom {
		&>*:not(.buttons):not(h1) {
			margin-left: 1em;
			margin-right: 1em;
		}
	}

	&::backdrop {
		background-color: var(--color-backdrop);
	}
}