textarea {
	resize: vertical;
}

/* uniform styling for mixed chosen and normal inputs */

input:focus,
.chosen-container-active .chosen-choices {
	border-color: var(--color-border-active);
}

input:not(.chosen-search-input, [type="checkbox"]),
button, select,
.chosen-container,
.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single span,
.prefixed-input {
	height: 1.75rem;
	vertical-align: bottom;
}

.chosen-container-multi,
.chosen-container-multi .chosen-choices,
.prefixed-input {
	height: unset;
	min-height: 1.75rem;
}

input, select, textarea,
.chosen-container-single .chosen-single,
.prefixed-input {
	border-radius: 0;
	background-color: var(--color-input);
	border: 1px solid var(--color-border);
}

input, button,
.prefixed-input {
	padding: 0 .25em;
}

input:disabled,
button:disabled,
.prefixed-input.disabled {
	background-color: var(--color-input-disabled);
}

/* TODO(Rennorb) @cleanup: use buttons as buttons... */
button[type="submit"],
input[type="submit"],
.button {
	display: inline-block;
	text-align: center;
	color: var(--color-text);
	background-color: var(--color-input-btn);
	border: none;
	padding: .25em .75em;
	cursor: pointer;
	text-decoration: none;
	border-radius: .25em;
	box-shadow: 0px 2px 3px #0008;
	user-select: none;
}

button[type="submit"]:hover,
input[type="submit"]:hover,
.button:hover {
	color: var(--color-text);
	background-color: hsl(var(--c-input-btn) 87%);
}
.button.submit:hover, .button.btndelete:hover {
	color: var(--color-text-inv);
}

button[type="submit"]:active,
input[type="submit"]:active,
.button:active {
	color: var(--color-text);
	background-color: hsl(var(--c-input-btn) 90%);
}


.prefixed-input {
	display: inline-block;
	white-space: nowrap;
	height: 1.75rem;

	&:focus-within {
		border-color: var(--color-border-active);
	}
	&::before {
		content: attr(data-prefix);
		display: inline-block;
	}
	&::before,
	input {
		font-size: initial;
		vertical-align: baseline;
		background-color: transparent;
	}
	input {
		padding: 0;
		border: none;
		height: calc(1.75em - 1px);
	}
}


input:disabled,
.prefixed-input.disabled {
	color: var(--color-input-text-disabled);
}


.button{
	&.large {
		font-weight: bold;
		padding: .5em 0;
		min-width: 150px;
	}
	&.submit    { background-color: var(--color-input-g); }
	&.btndelete { background-color: var(--color-input-r); }
}

.shine {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.0) 100%);

		height: 17px;
		width: 100%;
		box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.25);
		border-radius: 10px;
		border-bottom-right-radius: 100px 40px;
		border-bottom-left-radius: 100px 40px;
	}
}

#buttons-overlay {
	position: absolute;
	top: 1em;
	right: 1em;
	display: flex;
	flex-direction: column;
	gap: .5em;
	z-index: 999;
}

.button{
	&.square {
		font-size: 120%;
		border-radius: 0;
		box-shadow: 1px 1px 3px #aaa;
	}

	&.ico-button {
		position: relative;
		padding-left: calc(2em + .5ch);

		&::before {
			content: '';
			position: absolute;
			left: 0.75em;
			top: 0;
			height: 100%;
			width: 1.2em;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

		&.mod-dl {
			background-color: hsl(217 45% 51%);
			color: white;

			&:hover {
				background-color: hsl(217 45% 54%);
			}

			&::before {
				vertical-align: sub;
				background-image: url(/web/img/download-w.png);
			}
		}

		&.deps{
			padding: .25em .25em;
			width: 2em;
			&::before {
				position: relative;
				font-family: boxicons !important;
				font-weight: 400;
				line-height: 1;
				content: '\ee55';
				left: unset;
				top: 2px;
			}
		}

		&.one-click-dl::before {
			vertical-align: text-top;
			background-image: url(/web/favicon/favicon-32x32.png);
		}
	}
}


.chosen-container-single .chosen-single {
	background: linear-gradient(hsl(var(--c-input) 95%) 20%, hsl(var(--c-input) 98%) 50%, hsl(var(--c-input) 95%) 52%, hsl(var(--c-input) 97%) 100%);
}

.chosen-container-multi .chosen-choices {
  background: var(--color-input);
  cursor: text;
}

.chosen-container-multi .search-field {
	width: 60px; /* weird */
}


label.toggle {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 3rem;
	height: 1.75rem;
	background-color: var(--color-input);
	border: solid 1px var(--color-border);
	border-radius: .25em;
	cursor: pointer;
	user-select: none;

	&>input[type="checkbox"] {
		appearance: none;
		position: absolute;
		left: 2px;
		top: 2px;
		height: calc(1.75rem - 6px);
		width: calc(1.75rem - 6px);
		border-radius: .25em;
		cursor: pointer;

		transform: translateX(0);
		background-color: var(--color-input);
		transition: transform .3s, background-color .3s;
	}
	&>input[type="checkbox"]:checked {
		transform: translateX(calc(1.25rem - 2px));
		background-color: var(--color-input-g);
	}
}


.button.moderator,
button.moderator {
	padding-top: 1.25em;
	padding-bottom: .5em;
	position: relative;

	&::before {
		content: 'Moderator Action';
		white-space: pre;
		background-color: var(--color-flair-moderator);
		color: var(--color-text-inv);
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 0 0 .25em .25em;
		padding: 0 .25em;
	}
}

/* button row on the bottom */

.with-buttons-bottom {
	display: flex;
	flex-direction: column;

	&>.buttons {
		position: sticky;
		z-index: 99;
		bottom: 0;
	
		display: flex;
		gap: 1em;
		justify-content: space-between;
		flex-wrap: wrap;
	
		margin-top: 1em;
		padding: 1em;
		border-top: solid 1px var(--color-border);
		background-color: var(--color-content-bg);

		&>* {
			min-height: 3em;
			align-content: center;
		}
	}
}

@keyframes shake-h {
	0% { transform: translateX(0) }
	25% { transform: translateX(5px) }
	50% { transform: translateX(-5px) }
	75% { transform: translateX(5px) }
	100% { transform: translateX(0) }
 }

.invalid {
	animation: .5s shake-h;
	&, & *,
	&.tox .tox-menubar, &.tox .tox-toolbar {
		background-color: var(--color-input-r) !important;
	}
}


details.version-selector {
	position: relative;
	background-color: var(--color-input);
	border: 1px solid var(--color-border);

	&>summary {
		list-style: none;
		display: block;
	}

	&>:last-child {
		position: absolute;
		z-index: 100;
		width: 100%;
		max-height: min(30em, 50vh);
		overflow-y: auto;
		scrollbar-width: thin;
		background-color: var(--color-input);
		border: 1px solid var(--color-border);
		user-select: none;

		--c1w: 3rem;
		--c2w: 3rem;
		--c3w: 3rem;
		--c4w: 3rem;

		>h4, div.h {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			>* {
				flex-shrink: 0;
				flex-grow: 0;
				&:last-child { flex-grow: 1; }
			}
		}
		>h4 {
			padding-top: .25em;
			margin-top: 0;
			position: sticky;
			top: 0;
			background-color: var(--color-input);
			border-bottom: solid var(--color-border) 1px;
			z-index: 101; // needs to be higher so it covers the sticky numbers

			>* {
				text-align: right;
				padding: 0 .125em;
			}
			>:nth-child(1) { width: var(--c1w); }
			>:nth-child(2) { width: var(--c2w); }
			>:nth-child(3) { width: var(--c3w); }	
			>:nth-child(4) { width: var(--c4w); }
		}
		div.h {
			border: solid var(--color-border) 0;
			border-left-width: 1px;

			&:not(:last-child) {
				border-bottom-width: 1px;
			}

			cursor: pointer;

			&:hover:not(:has(.h:hover)) {
				background-color: hsl(var(--c-input) 80%);
			}
		}
		>div {
			padding-bottom: .25em;

			>div {
				>div{
					>span {
						width: var(--c1w);
						position: sticky;
						top: 1.75em;
					}
					>div {
						>div{
							>span {
								width: var(--c2w);
								position: sticky;
								top: 1.75em;
							}
							>div {
								>div {
									>span {
										width: var(--c3w);
										position: sticky;
										top: 1.75em;
									}
									>div {
										>div {
											>span { width: var(--c4w); }
										}
									}
								}
							}
						}
					}
				}
			}

			span {
				display: block;
				text-align: right;
			}
		}
	}

	input, select { width: fit-content; }
}
