// If this is a mod the table has the "for came version column
// Mod Version | (For Game Version) | Downloads | Released | Changelog | Download | (1 click Installer)
.release-table {
	min-width: 900px;
	// center if it doesn't fill the width
	margin-left: auto;
	margin-right: auto;

	td:not(.collapsable) { text-align: center; }

	&.gv tr>td:nth-child(3) .tag { text-wrap: nowrap; }
	/* download count */
	&.gv tr>td:nth-child(4),
	&.no-gv tr>td:nth-child(2) { text-align: right; }
	/* release date */
	&.gv tr>td:nth-child(5),
	&.no-gv tr>td:nth-child(3) { text-wrap: nowrap; }
	/* changelog button */
	&.gv tr>td:nth-child(6),
	&.no-gv tr>td:nth-child(4) {
		&>* { width: 100%; text-align: center; }
	}
	/* download button */
	.mod-dl {
		width: 100%;

		@media screen and (max-width: 1050px) {
			// Ancient incantation to replace the text:
			text-indent: -99999px;
			line-height: 0;

			&:after {
				content: 'Download';
				text-indent: 0;
				line-height: initial;
				display: block;
			}
		}
	}

	&.oc td:not(.collapsable):nth-last-child(n+4),
	&.no-oc td:not(.collapsable):nth-last-child(n+3) {
		padding-left: .25em;
		padding-right: .25em;
	}
}

/* release changelogs (animated collapse wrapper) */
.collapsable {
	&>input {
		display: none;
		overflow-y: hidden;
	}

	&>div {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows .5s ease-out;
	}

	&>input:checked + div {
		grid-template-rows: 1fr;
	}

	&>div>* {
		overflow-y: hidden;
	}

	@media (max-width: 767px) { /* @perf */
		&.cl-changelog {
			position: absolute;
			z-index: 99;
			background-color: var(--color-content-bg);
			margin: 0 -.5em;
			max-width: calc(100vw - 3em);
		}
	}
}


.release-changelog {
	padding: .25em;
}
