/* The idea is to have a bunch of labels that set radio inputs next to tab-content elements that will get un-hidden when selected. No js needed. */

ul.tabs {
	width: 100%;
	border-bottom: 2px solid #888;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	>li, >li>* {
		height: 2em;
		line-height: 2em;
		user-select: none;
	}

	>li {
		border: 1px solid var(--color-border);
		border-bottom: none;
		box-sizing: content-box;
		background-color: var(--color-input-btn);
		flex-grow: 1;

		@media (min-width: 768px) {
			flex-grow: unset;
		}

		&:not(.active):hover {
			background-color: hsl(var(--c-input-btn) 95%);
		}

		>* {
			cursor: pointer;
			text-decoration: none;
			color: #000;
			display: block;
			font-size: 1em;
			font-weight: bold;
			padding: 0 1em;
			border: 1px solid #fff;
			border-bottom: none;
			outline: none;
			img {
				vertical-align: sub;
			}
		}
	}
}

.tab-trigger {
	display: none;
}

.tab-content {
	padding: 1em 0;

	@at-root .tab-trigger:not(:checked) + & {
		display: none;
	}
}
