services:
  gateway:
    image: nginx:1.26.3
    hostname: mods.vintagestory.stage
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ..:/var/www/moddb:ro
      - ./moddb.conf:/etc/nginx/conf.d/moddb.conf:ro
      - ./dev.ssl.pem:/etc/ssl/certs/ssl-cert-snakeoil.pem:ro
      - ./dev.ssl.key:/etc/ssl/private/ssl-cert-snakeoil.key:ro

  php:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    volumes:
      - ..:/var/www/moddb
      - ./www.conf:/usr/local/etc/php-fpm.d/www.conf:ro

  db:
    image: mariadb:11.8.3
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: moddb
      MYSQL_USER: vsmoddb
      MYSQL_PASSWORD: vsmoddb
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ../db:/docker-entrypoint-initdb.d:ro

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"

volumes:
  mysql-data:
